Source: caldav-tester
Maintainer: Frank Piotrowski <f@pi0.de>
Standards-Version: 3.9.5
Build-Depends: debhelper (>=9), python, python-pip
XS-Python-Version: 2.7

Package: caldav-tester
Architecture: all
Depends: ${misc:Depends},${python:Depends}
Description: A CalDAV and CardDAV server test & performance suite CalDAVTester
 is a test and performance application designed to work with CalDAV and / or
 CardDAV servers and tests various aspects of their protocol handling as well as
 performanc. CalDAVTester basically executes HTTP requests against a server and
 verifies the responses returned by the server. Suites of tests are defined in
 xml configuration files, and an additional xml configuration file is used to
 define variables used whilst running (e.g., server address, user accounts to
 use etc). 
